.says__p {
    font-size: 20px;
    color: #646464;
    text-align: center;
    margin-bottom: 15px;
}

.says__info {
    font-size: 48px;
    color: #212121;
    text-align: center;
    font-weight: 500;
    margin-bottom: 99px;
}

.says__wrapper {
    display: flex;
    gap: 140px;
    margin-bottom: 82px;
}

.says__box {
    padding: 41px 38px 60px 99px;
    border-radius: 70px 0px;
    background: #FFF;
    box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
}

.says__louis {
    display: flex;
    align-items: end;
}

.says__desc {
    font-size: 20px;
    color: #212121;
    font-weight: 600;
}

.says__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.says__lorem {
    font-size: 18px;
    color: #646464;
}

@media (max-width:990px) {
    .says__wrapper {
        display: flex;
        gap: 40px;
    }

    .says__box {
        padding: 38px 38px 40px 69px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        border-radius: 70px 0 70px 0;
    }
}

@media (max-width:750px) {
    .says__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 40px;
    }

    .says__lorem {
        font-size: 15px;
        color: #646464;
    }

    .says__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .says__info {
        font-size: 34px;
        font-weight: 700;
        color: #212121;
        text-align: center;
        font-weight: 500;
        margin-bottom: 30px;
    }
}